<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Error</title>
</head>

<body>
<center>
<h1 style="color:Blue; font-family: Showcard Gothic"> OHH Sorry, We can't find it.... </h1>
    <hr>
    <img
        src="http://pm1.narvii.com/6313/e9b2f11dcd0f0125b3e334d50832445a711ff1dc_hq.jpg"
        alt = 'halamanerror' width="600" height="400">

    <form action="http://127.0.0.1:5000/" method="get">
        <p>
            <input type="submit" value="Home"/>
        </p>
    </form>

</center>

</body>
</html>

