<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pokemon's Profile</title>

</head>

<body>
<center>
    <h2> ======= Pokemon's Profile =======</h2>
    <hr>
    <h1 style="color:red; font-family: Showcard Gothic"> ~~~~ {{a.upper()}} ~~~~</h1>

    <img
        src={{e}}
        alt = 'pokemon' width="250" height="250">
    <h3> About Me : </h3>
    <h2> ID       : {{b}}</h2>
    <h2> Height  : {{c}}</h2>
    <h2> Weight    : {{d}}</h2>

<form action="http://127.0.0.1:5000/" method="get">
        <p>
            <input type="submit" value="Home"/>
        </p>
    </form>

</center>

</body>
</html>